<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Groups list </h1>
<ul>
{% for group in groups %}
    <h2> {{ group.name }}</h2>
    <p>Students: </p>
        <ul>
            {% for student in group.students.all %}
                <li>{{  student.name }}</li>
            {% endfor %}
        </ul>
    <p>Lessons: </p>
        <ul>
            {% for lesson in group.lessons.all %}
                <li><a href="{% url "lms:lesson-details" lesson_id=lesson.id %}"> {{  lesson.name }} </a></li>
            {% endfor %}
            <li> <a href="{% url "lms:lesson-create" class_id=group.id %}">+ add lesson</a> </li>
        </ul>

{% endfor %}
</ul>

</body>
</html>